*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
    margin-top: 20px;
    font-weight: 900;
    font-size: 60px;
    font-family: 'VT323', monospace;
}

.game-body{
    width: 30%;
    height: fit-content;
    background: rgb(245, 243, 243);
    margin: auto;
    position: relative;
    padding: 10px;
}

.show-item{
    width: 200px;
    height: 200px;
    /* background:blue; */
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    /* margin-top: 20px; */
    /* position: absolute; */
    /* top: 20%;
    left: 50%;
    transform: translate(-50%,-20%); */
}
.game-pad{
    width: 100%;
    height: 150px;
    background: rgb(248, 239, 239);
    margin-top: 10px;
    padding-bottom: 10px;
}

.play-icon{
    width: 100px;
    height: 100px;
    /* background: rgb(236, 244, 5); */
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
}
.play-icon:hover::after{
    background: rgba(236, 236, 19,.81);
    color: black;
    width: fit-content;
    height: fit-content;
    /* content: 'cc'; */
    font-size: 20px;
    display: block;
    position: absolute;
    margin: auto;
    margin: 3px;
    margin-left: 20px;
    z-index: 3;
    padding: 2px;
    border-radius: 5px;

}
/* .play-icon:hover{
    outline: 4px solid rgb(226, 223, 223);
} */
.one{
    background: rgb(255, 0, 0);

}
.one:hover::after{
    content: 'Stone';
}
.two{
    background:green;
}
.two:hover::after{
    content: 'Paper';
}
.three{
    background: blue;
}
.three:hover::after{
    content: 'Scissor';
}
.img-icon{
    width: 100px;
    height: 100px;
    pointer-events: none;
}
#paper{
    transform: rotate(90deg);
}

.controls{
    width: 300px;
    height: 50px;
    /* background: orange; */
    margin: auto;
    margin-top: 5px;
}
i{
    pointer-events: none;
}
button{
    /* margin-top: 20px; */
    width: 50px;
    height: 50px;
    border: none;
    /* background: green; */
    border-radius: 5px;
    box-shadow: 2px 2px grey;
    cursor: pointer;
    margin-left: 10px;
}
button:hover::after{
    background: rgba(236, 236, 19,.81);
    color: black;
    width: fit-content;
    height: fit-content;
    /* content: 'l'; */
    font-size: 20px;
    display: block;
    position: absolute;
    /* margin: auto; */
    /* margin: 3px; */
    margin-left: 5px;
    /* margin-right: -100px; */
    z-index: 3;
    padding: 2px;
    border-radius: 5px;
    
}
#reset:hover::after{
    content: 'Next';

}
#play:hover::after{
    content:'Play';

}
.fa-play{
    color: rgb(6, 167, 19);
}
.fa-angles-right{
    color: rgb(255, 0, 0);
    
}
#status{
    margin-top: 0px;
    margin-bottom: 4px;
}

.pressed{
    outline: 4px solid rgb(255, 208, 0);
}

@media only screen and (max-width:600px) {
    .game-body{
        width: 100%;
    }
    
}